@page "/books"
@inject HttpClient httpClient
@using Newtonsoft.Json
@using System.Collections.Generic

<link rel="stylesheet" href="_content/bootstrap/dist/css/bootstrap.min.css" />

<h3>Book Catalog</h3>

@if (books == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container">
    <div class="row" style="gap: 30px 45px">
        @foreach (var book in books)
                {
                <div class="card" style="width: 18rem; padding: 0px;">
                <img src='@book["cover_image"]' class="card-img-top" alt="Cover Image">
                <div class="card-body" style="display: flex; flex-direction:column; justify-content: center;">
                    <a href='/books/@book["id"]' class="btn btn-light">See Details</a>
                </div>
                </div>
                }
    </div>
    </div>
}

@code {
    private List<Dictionary<string, object>> books = new List<Dictionary<string, object>>();

    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetStringAsync("http://127.0.0.1:8000/api/books/");
        books = JsonConvert.DeserializeObject<List<Dictionary<string, object>>>(response) ?? new List<Dictionary<string, object>>();
    }
}
