@page "/books"
@inject HttpClient httpClient
@using Newtonsoft.Json
@using System.Collections.Generic

<link rel="stylesheet" href="_content/bootstrap/dist/css/bootstrap.min.css" />

<h3>Book Catalog</h3>

@if (books == null)
{
    <p>Loading...</p>
}
else
{
    <div class="container">
    <div class="row" style="gap: 20px 30px">
        @foreach (var book in books)
                {
                <div class="card" style="width: 18rem">
                <img src='@book["cover_image"]' class="card-img-top" alt="Cover Image">
                <div class="card-body">
                    <h5 class="card-title">@book["title"]</h5>
                    <p class="card-text">@book["author"]</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    <a href='/books/@book["id"]' class="btn btn-light">See Details</a>
                </div>
                </div>
                }
    </div>
    </div>
}

@code {
    private List<Dictionary<string, object>> books = new List<Dictionary<string, object>>();

    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetStringAsync("http://127.0.0.1:8000/api/books/");
        books = JsonConvert.DeserializeObject<List<Dictionary<string, object>>>(response) ?? new List<Dictionary<string, object>>();
    }
}
