@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, and thank you for checking out LMS!</h1>

<p>The Library Management System (LMS) is a website that tracks all books at your local library, allows you to checkout boks, track their return dates, or even purchase a book.</p>
<p>Please login if you would like to have the option to checkout or purchase a book. Otherwise, feel free to browse the catalog to see what is available!</p>
