@inject libraryClient.Components.Services.IAuthenticationService AuthenticationService
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@inject libraryClient.Components.Services.SharedStateService SharedStateService

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">




@code {

    [Parameter]
    public string UserHref { get; set; }

    // Lifecycle method to react to changes in parameters
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        // Additional logic, if needed, when parameters are set
    }

     private string userHref;

    protected override async Task OnInitializedAsync()
    {
        await UpdateUserHref();

        // Subscribe to updates in the shared state
        SharedStateService.OnUserHrefUpdated += async () => await UpdateUserHref();
    }

    private async Task UpdateUserHref()
    {
        // Use the shared state value or the parameter value if provided
        userHref = !string.IsNullOrEmpty(UserHref) ? UserHref : SharedStateService.UserHref;
    }
}

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Library Management System</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Book Catalog
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item special-item px-3">
            <NavLink class="nav-link" href="@userHref" Match="NavLinkMatch.All">
                <div class="custom-icon-container">
                    <span class="bi bi-person-circle"></span> Profile
                </div>            
            </NavLink>
        </div>
        
        
    </nav>
</div>




